<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


  <h2> Please login or register </h2>

  {{messageA}}

<br><br>

  <div>
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="user name" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Register</button>
  </form>
  </div>

<br>

  <div>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="user name" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Login</button>
    </form>
  </div>

  <br><br>

  {{message}}

  </body>
</html>
