<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <div>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="user name" />
      <input type="password" name="password" placeholder="password" />
      <input email="email" name="email" placeholder="email" />
      <input type="city" name="city" placeholder="city" />
      <button type="submit">Register</button>
    </form>
    </div>
  </body>
</html>
