#regButton {
    padding: 20px;
    display: flex;
    height: 90px;
    justify-content: center;
    text-align:center;

  }

.register {
    justify-content: center;
    display: flex;
    margin-top: 6%;
  }

body {
    background-image: url("media/camera.jpg");
    background-size: cover;
  }

.backG {
    color:white;

}
h1 {
  color: white;
  text-align: center;
  padding-top: 35px;
  margin-top: 25px;
}
