
/* Home Page */
.home {
  text-align: right;
  font-size: 40px;
  font-family: inherit;
  margin-top: 20%;
}
.flex-container img {
  width: 420px;
  height: 487px;
}
.circle {
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-left: 220px;
  margin-right: 220px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.pad {
  padding: 40px;
  font-size: 25px;
}

.carousel  {
  padding-left: 220px;
  padding-right: 220px;
  }

.navbar {
  color: white;
  /* background-color: black; */
}
.bg-dark {
  background-color: #0000;
}


.btn {
  /* flex-direction: row */
  display: block;
  float: initial;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 2px;

}
.btn-secondary:not(:disabled):not(.disabled).active {
  /* display: flex; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

#welcometext {
  text-align: center;
  justify-content: center;
}

#radiotext {
  margin-left: 15px;
}


#submitbox {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

/* Trade Page */

#tradeheader {
  text-align: center;
}

#tradebuttonbox {
margin-left: 10%;
margin-right: 10%;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 10px;

}

#tradebutton {
  padding: 10px;
  margin: 5px;
}

.cardbox {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  text-align: center;
  position: relative;
}

.card {
  margin: 1%;
  height: 445px;
}

.card a {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0px;
}

.card h6 {
  position: absolute;
  text-align: center;
  bottom: 100px;
  left: 36px;

}

.backG {
  color: white;
  justify-content: center;
}

