<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> test </h1>
<a href="/trade">Trade</a>
<a href="/userProfile">User Profile</a>
<a href="/login">login</a>
<a href="/register">register</a>

<br>
<br>
<br>


{{#user}}
  Hello {{username}}, lets get started
{{/user}}
<br>
<br>
<br>
If you havent created a profile link below
<a href="/userProfile">create profile</a>

{{#categories}}
<input type="radio" name={{name}} > {{name}}<br>
{{/categories}}




  </body>


</html>
