<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="homestyle.css">
    <title></title>
  </head>
  <body>
    <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>

  <source src="/Video/video.mp4" type="video/mp4" alt="">
  <img src="https://" type="video/">
  </video>
  <div id="polina">
  <h1>Skill Exchange</h1>
  <p>Skill Exchange is an application that connects people in Houston and allows them to swap skills with each other.</p>

<h2> Please login or register </h2>


{{Message}}
<div id="loginbox">
<form action="/login" method="POST">
<input type="text" name="username" placeholder="user name" />
<input type="password" name="password" placeholder="password" />
<button type="submit">Login</button>
</form>
<form action="/register" method="POST">
<p> If this is your first time visiting Skill Exchangge please create an account by registering below! </p>
<button type="submit">Register</button>
</form>
</div>

<br><br>

{{message}}
</div>
  </body>
</html>
