<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>


<div class="home">

    <div class="card bg-dark text-white">
  <img src="http://webcomers.com/wp-content/uploads/2013/12/hero4.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
  </div>
</div>


<div class="card bg-dark text-white">
<img src="http://briidea.in/wp-content/uploads/2018/08/Basic-Landing-Page-background.jpg" class="card-img" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">SkillShare</h5>
<b><p class="card-text">An application that links you to users to swap skills</p></b>
<p class="card-text">sign up today</p>
</div>
</div>


<div class="card bg-dark text-white">
<img src="https://cdn2.f-cdn.com/contestentries/363516/4402638/56d7fa2ae122d_thumb900.jpg" class="card-img" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">SkillShare</h5>
<b><p class="card-text">An application that links you to users to swap skills</p></b>
<p class="card-text">sign up today</p>
</div>
</div>

<div class="card bg-dark text-white">
<img src="https://www.filepicker.io/api/file/tRHFOPMRfionBInRQfXb" class="card-img" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">SkillShare</h5>
<b><p class="card-text">An application that links you to users to swap skills</p></b>
<p class="card-text">sign up today</p>
</div>
</div>

<div class="card bg-dark text-white">
<img src="https://www.karmikchannels.org/wp-content/uploads/2018/02/Karmic-Cannels-Phone-Pychic-Reading-Landing-Page-Background-Phone-Image.jpg" class="card-img" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">SkillShare</h5>
<b><p class="card-text">An application that links you to users to swap skills</p></b>
<p class="card-text">sign up today</p>
</div>
</div>


    <div class="card bg-dark text-white">
    <img src="https://www.wellsins.com/wordpress/wp-content/uploads/2015/04/WMI-Landing-Page-background.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
    </div>
    </div>

    <div class="card bg-dark text-white">
    <img src="http://www.romangadgets.com/wp-content/uploads/2016/09/roman-gadgets-landingpage-background-2.png" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
    </div>
    </div>

    <div class="card bg-dark text-white">
    <img src="https://aspengrovestudios.com/wp-content/uploads/2017/06/aspen-grove-studios-landing-pages-divi-1080x600.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
    </div>
    </div>

<div class="peach">

    <div class="card bg-dark text-white">
    <img src="https://image.flaticon.com/sprites/new_packs/789271-personal-skills.png" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
    </div>
    </div>
  </div>

    <div class="card bg-dark text-white">
    <img src="http://www.epicskillswap.org/wp-content/uploads/2013/04/ESSfrontpage1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h5 class="card-title">SkillShare</h5>
    <b><p class="card-text">An application that links you to users to swap skills</p></b>
    <p class="card-text">sign up today</p>
    </div>
    </div>

</div>

<div class="circle">
<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#777"></rect>
<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
<svg class="bd-placeholder-img rounded-circle" width ="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#777"></rect>
<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
<svg class="bd-placeholder-img rounded-circle" width ="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
</div>





<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="flex-container">
        <img src="https://images.midilibre.fr/api/v1/images/view/5b4719ef8fe56f32714b4ed9/full/image.jpg" id="carouselimg" class="d-block w-50" alt="">
        <div class="pad">
          <i><p>"SkillShare helped me get intouch with Tony Hawk, and I learned how to board. Thanks DUDE!!!!!!!!!!!!!!!"</p></i>
        </div>
    </div>
  </div>

    <div class="carousel-item">
      <div class="flex-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGK1bVQE95IRZMmQdIPYHGUdDklUVtyXoeqm3LiOSMDP1Nj2Az" id="carouselimg" class="d-block w-50" alt="">
          <div class="pad">
            <i><p>"I met Whitney Houston and she taught me how to sing!!!! Thanks SkillShare"</p></i>
          </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="flex-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdt1GSsOq2vShH9gBw_kHf1AtUUqZu6X5yN7XC82tCiSiQlsv4" id="carouselimg" class="d-block w-50" alt="">
          <div class="pad">
            <i><p>"My elder mom learned to walk again thanks to a physical therapist that i met online through SkillShare. Thanks Micah!!!!!"</p></i>
          </div>
      </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>









        <div ="bodybox"

  <h2> Please login or register </h2>


    {{Message}}
  <div id="loginbox">
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="user name" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Login</button>
    </form>
    <form action="/register" method="POST">
      <p> If this is your first time visiting Skillz Not Billz please create an account by registering below! </p>
    <button type="submit">Register</button>
    </form>
  </div>

  <br><br>

  {{message}}
</div>


  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
