<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div>
    <form action="/registration" method="POST">
      <input type="text" name="username" placeholder="Enter Username" />
      <input type="text" name="email" placeholder="Enter Email Address" />
      <input type="password" name="password" placeholder="Enter Password" />
      <input type="text" name="city" placeholder="Enter your City" />
      <button type="submit">Register</button>
      </form>
      </div>

  </body>
</html>
