<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/register.css">

  </head>

  <body>
    <div>

      <h1>Registration</h1>

    <div class="register">
      <form action="/registration" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="backG" for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label class="backG" for="inputPassword4">Password</label>
      <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label class="backG" for="inputAddress">Username</label>
    <input type="text" class="form-control" name="username" id="inputAddress" placeholder="Enter Username">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="backG" for="inputCity">City</label>
      <input type="text" class="form-control" name="city" id="inputCity" placeholder="Enter your City">
    </div>


  </div>

<div id="regButton">
  <button type="submit" class="btn btn-secondary" style="margin:5px;">Register</button>
  <a href="/login" class="btn btn-secondary" style="margin:5px; text:white;">Go Back</a>
</div>
</form>
</div>

  </body>
</html>
