<html>
<head></head>
<body>
<h1>Make a Trade</h1>
<h2>Select the category of skill that you would like to learn.</h2>


{{#categories}}
  <form action="/tradeSkill/{{id}}" method="GET">
    <button type="submit">{{name}}</button>
  </form>
{{/categories}}

{{#description}}
{{body}}
{{/description}}
</body>
</html>
