<html>
<head></head>
<body>
<h1>Make a Trade</h1>
<h2>Select the category of skill that you would like to learn.</h2>
</form>
<form action="/trades" method="POST">
<button type="submit">Academic Tutoring</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Animal Training</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Automotive</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Beauty(Hair/Makeup)</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Culinary Arts</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Fine Arts</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Household Maintenance</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Landscaping/Gardening</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Performing Arts/Music</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Sports/Exercise</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Technology</button>
</form>
<form action="/trades" method="POST">
<button type="submit">Other</button>
</form>

{{#Users}}
{{/Users}}
</body>
</html>