<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  </head>
  {{> header}}
  <body>


    <h1> Welcome {{username}}!</h1>
    <break>
    </break>
    <h3> This is a free service! You can legally exchange something you are good at with other people! Without paying </h3>



    {{#descriptions}}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{categoryName}}</h5>
        <p class="card-text">{{body}}</p>
          <a href="/editchoice/{{id}}" class="btn btn-primary">Edit</a>
          <form action="/deletepost" method="POST">
            <input type="hidden" name="postId" value="{{id}}" />
            <button type="submit" class="btn btn-primary">Delete</button>
            </form>
      </div>
    </div>

    {{/descriptions}}
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
