<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    {{> header}}
  </head>

  <body>

    <h1> Welcome {{username}}!</h1>
    <break>
    </break>
    <h3> This is a free service! You can legally exchange something you are good at with other people! Without paying </h3>



    {{#description}}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <!-- <h5 class="card-title">{{}{}}}</h5> -->
        <p class="card-text">{{body}}</p>
          <a href="/editchoice/{{id}}" class="btn btn-primary">Edit</a>
          <form action="/deletepost" method="POST">
            <input type="hidden" name="postId" value="{{id}}" />
            <button type="submit" class="btn btn-primary">Delete</button>
            </form>
      </div>
    </div>

    {{/description}}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">
  </body>
</html>
